.info-links-container {
    margin-top: 16px;
}
.info-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contacts-container {
    margin-top: 8px;
    padding-bottom: 128px;
    background-color: #F2F2F2;
}
.btn-circle {
    margin-top: 16px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #B30000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
.social-icon {
    margin-left: -2px;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.card {
    border: none;
}
.age-rating-container {
    margin-top: 16px;
    margin-bottom: 16px;
}
.age-rating-image {
    margin-left: 16px;
    width: 64px;
}
.age-rating-card {
    margin: 0 auto;
    width: 320px;
    height: 128px;
}
.age-rating-card-body {
    margin-top: 16px;
}
.age-info {
    margin-top: 10px;
}

.platform-steam {
    width: 64px;
    margin: 4px;
}
.platform-epic {
    height: 32px;
    margin: 4px;
}
.platform-switch {
    height: 32px;
    margin: 4px;
}
.platform-playstation {
    height: 32px;
    margin: 4px;
}
.platform-xbox {
    height: 32px;
    margin: 4px;
}