.info-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contacts-container {
    padding-bottom: 128px;
    background-color: #F2F2F2;
}
.btn-circle {
    margin-top: 16px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: #B30000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.age-ratting-card {
    width: 384px;
}