.dropdown:hover .dropdown-menu {
    border: none;
    border-radius: 0;
    display: block;
    padding: 0;
    margin-top: 7px;
}
.dropdown-item {
    color: #030303;
    font-size: large;
    font-weight: bold;
}

.navbar {
    padding-bottom: 0 !important;
    border-bottom: 1px solid #bdbdbd;
}
.navbar-brand {
    padding-left: 18px;
    padding-bottom: 14px;
}

.nav-link {
    border-bottom: 4px solid transparent;
    color: #030303;
    font-size: large;
    font-weight: bold;
}
.nav-item-lined {
    margin-bottom: 4px;
}
.nav-item-lined:hover {
    margin-bottom: 0;
    border-bottom: 4px solid #AC0000;
}
.nav-link:hover {
    color: #030303;
}

.link-text {
    padding-top: 10px;
    padding-bottom: 6px;
}

.video-icon {
    padding-bottom: 2px;
    filter: contrast(40%);
}
.login-icon {
    padding-bottom: 2px;
    filter: contrast(40%);
}

.navbar-l-button {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 16px;
    background-color: white;
    border: 1px solid;
    height: 80%;
    width: 160px;
    font-weight: bold;
}

.navbar-pn-button {
    margin-top: 2px;
    height: 80%;
    background-color: #a40000;
    width: 400px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.navbar-pn-button:hover {
    box-shadow: inset 400px 0 10px 0 #C21700;
}
