.dropdown:hover .dropdown-menu {
    border-radius: 0;
    display: block;
    padding: 0;
    margin-top: 6px;
}
.dropdown-item {
    color: #030303;
    font-weight: bold;
}

.navbar {
    border-bottom: 1px solid #bdbdbd;
}

.nav-link {
    border-bottom: 4px solid transparent;
    color: #030303;
    font-weight: bold;
}
.nav-item-lined {
    margin-bottom: 4px;
}
.nav-item-lined:hover {
    margin-bottom: 0;
    border-bottom: 4px solid #AC0000;
}
.nav-link:hover {
    color: #030303;
}

.header-red-button {
    height: 80%;
    width: 400px;
}
.header-white-button {
    height: 80%;
    width: 160px;
}

@media (max-width: 1400px) {
    .header-red-button {
        width: 90%;
        margin-bottom: 32px;
    }
    .header-white-button {
        width: 90%;
        margin-bottom: 32px;
    }
}
