.dropdown:hover .dropdown-menu {
    border-radius: 0;
    display: block;
    padding: 0;
    margin-top: 6px;
}

.dropdown-item {
    color: #030303;
    font-weight: bold;
}
.dropdown-item:active{
    background-color: #790000;
}
.dropdown-toggle:active {
    color: #AC0000;
}
.nav-link:focus {
    color: #AC0000;
}


.navbar {
    border-bottom: 1px solid #bdbdbd;
}

.nav-link {
    border-bottom: 4px solid transparent;
    color: #030303;
    font-weight: bold;
}
.nav-item-lined {
    margin-bottom: 4px;
}
.nav-item-lined:hover {
    margin-bottom: 0;
    border-bottom: 4px solid #AC0000;
}
.nav-link:hover {
    color: #030303;
}
