* {
    font-family: "Noto Sans", sans-serif;
}

.white-button {
    background-color: white;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}

.transparent-button {
    background-color: transparent;
    border: 1px solid;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
}
.transparent-button:hover {
    color: white;
}

.red-button {
    background-color: #A40000;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    transition: ease-out 1s;
    text-align: center;
    line-height: 32px;
}
.red-button:hover {
    background-color: #790000;
    color: #FFFFFF;
    box-shadow: inset 400px 0 0 0 #C21700;
}

.mt--64px {
    margin-top: -64px;
}
.mt-96px {
    margin-top: 96px;
}
.mt--576 {
    margin-top: -576px;
}

.center-page-image {
    height: 896px;
}
.center-page-card {
    position: relative;
    left: 0;
    z-index: 1;
    margin-left: 256px;
    width: 480px;
}
.image-adjust {
    height: 896px;
    width: 100%;
    object-fit: cover;
}

.about-card {
    height: 160px;
}

.center-page-info {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    color: white;
}
.info-header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.carousel-image-adjust {
    height: 576px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.carousel-caption-adjust {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 16px 4px;
    margin-bottom: 32px;
    text-align: left;
    width: 384px;
}
.carousel-caption-adjust h1 {
    color: #C21700;
}
.warframe-carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
    margin: 0 8px -12px;
    transform: rotate(45deg);
    transition: opacity .6s ease;
}
.warframe-draws {
    margin-top: -32px;
}
.warframe-trapezoid {
    border-bottom: 32px solid #C21700;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
    margin: auto;
    width: 160px;
    position: relative;
    z-index: 1;
    height: 32px;
}
.warframe-line {
    height: 8px;
    background: #C21700;
}

@media (max-width: 576px) {
    .carousel-caption-adjust {
        width: 256px;
    }
    .center-page-card {
        width: 90%;
    }
    .small-adjustment {
        width: 80%;
    }
    .center-page-info {
        width: 90%;
    }
}

@media (max-width: 1399px) {
    .center-page-card {
        margin-left: auto;
        margin-right: auto;
    }
}