* {
    font-family: "Noto Sans", sans-serif;
}

.info-links {
    text-decoration: none;
    font-weight: bold;
}

.white-button {
    background-color: white;
    border: 1px solid;
    font-weight: bold;
}

.transparent-button {
    background-color: transparent;
    border: 1px solid;
    color: white;
    font-weight: bold;
}

.red-button {
    background-color: #A40000;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    transition: ease-out 1s;
}
.red-button:hover {
    background-color: #790000;
    box-shadow: inset 400px 0 0 0 #C21700;
}

.zariman-image {
    height: 832px;
}
.warframe-zariman {
    position: relative;
    left: 0;
    z-index: 1;
    margin-top: -512px;
    margin-left: 256px;
    width: 480px;
}
.image-adjust {
    height: 832px;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 576px) {
    .warframe-zariman {
        width: 90%;
    }
    .small-adjustment {
        width: 80%;
    }
}

@media (max-width: 1399px) {
    .warframe-zariman {
        margin-left: auto;
        margin-right: auto;
    }
}