<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Rodapé</title>
  </head>
  <body>
    <hr>
    <section class="container text-center info-links-container">
      <div class="row">
        <div class="col">
          <img src="../images/warframe-logo.webp" alt="Warframe Logo">
        </div>
      </div>
      <div class="d-lg-inline-flex d-sm-grid">
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/zendesk" class="link-dark info-links">Suporte</a>
        </div>
        <div class="p-2">
          <a href="https://www.digitalextremes.com/" class="link-dark info-links">Imprensa</a>
        </div>
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/terms" class="link-dark info-links">Termos de Uso</a>
        </div>
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/privacy" class="link-dark info-links">Política de Privacidade</a>
        </div>
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/eula" class="link-dark info-links">Acordo de Licença do Usuário Final (EULA)</a>
        </div>
        <div class="p-2">
          <a href="#" class="link-dark info-links">Configurações de Cookies</a>
        </div>
      </div>
    </section>

    <div class="contacts-container">
      <section class="container text-center">
        <a type="button" class="btn btn-circle" href="https://www.facebook.com/PlayWarframe/" target="_blank">
          <img class="social-icon" src="../images/facebook.svg" alt="Facebook">
        </a>
        <a type="button" class="btn btn-circle" href="https://twitter.com/playwarframe" target="_blank">
          <img class="social-icon" src="../images/twitter.svg" alt="Twitter">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.youtube.com/user/playwarframe" target="_blank">
          <img class="social-icon" src="../images/youtube.svg" alt="Youtube">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.instagram.com/playwarframe/" target="_blank">
          <img class="social-icon" src="../images/instagram.svg" alt="Instagram">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.twitch.tv/warframe" target="_blank">
          <img class="social-icon" src="../images/twitch.svg" alt="Twitch">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.reddit.com/r/warframe" target="_blank">
          <img class="social-icon" src="../images/reddit.svg" alt="Reddit">
        </a>
        <a type="button" class="btn btn-circle" href="https://discord.com/invite/playwarframe" target="_blank">
          <img class="social-icon" src="../images/discord.svg" alt="Discord">
        </a>
      </section>

      <section class="container text-center age-rating-container">
        <div class="card age-rating-card">
          <div class="row g-0 age-rating-card-body">
            <div class="col-md-4">
              <img src="../images/age-ratting.webp" class="age-rating-image" alt="Classificação 18 Anos">
            </div>
            <div class="col-md-8">
              <ul class="age-info">
                <li class="float-start">Violência</li>
                <li class="float-start">Interação de usuários</li>
                <li class="float-start">Compras on-line</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>