<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Rodapé</title>
  </head>
  <body>
    <hr>
    <section class="container text-center mt-2">
      <div class="row">
        <div class="col">
          <img src="../images/warframe-logo.webp" alt="Warframe Logo">
        </div>
      </div>
      <div class="d-lg-inline-flex d-sm-grid">
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/zendesk" class="link-dark info-links">Suporte</a>
        </div>
        <div class="p-2">
          <a href="https://www.digitalextremes.com/" class="link-dark info-links">Imprensa</a>
        </div>
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/terms" class="link-dark info-links">Termos de Uso</a>
        </div>
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/privacy" class="link-dark info-links">Política de Privacidade</a>
        </div>
        <div class="p-2">
          <a href="https://www.warframe.com/pt-br/eula" class="link-dark info-links">Acordo de Licença do Usuário Final (EULA)</a>
        </div>
        <div class="p-2">
          <a href="#" class="link-dark info-links">Configurações de Cookies</a>
        </div>
      </div>
    </section>

    <div class="contacts-container">
      <section class="container text-center">
        <a type="button" class="btn btn-circle" href="https://www.facebook.com/PlayWarframe/" target="_blank">
          <img class="img-fluid" src="../images/facebook.svg" alt="Facebook">
        </a>
        <a type="button" class="btn btn-circle" href="https://twitter.com/playwarframe" target="_blank">
          <img class="img-fluid" src="../images/twitter.svg" alt="Twitter">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.youtube.com/user/playwarframe" target="_blank">
          <img class="img-fluid" src="../images/youtube.svg" alt="Youtube">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.instagram.com/playwarframe/" target="_blank">
          <img class="img-fluid" src="../images/instagram.svg" alt="Instagram">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.twitch.tv/warframe" target="_blank">
          <img class="img-fluid" src="../images/twitch.svg" alt="Twitch">
        </a>
        <a type="button" class="btn btn-circle" href="https://www.reddit.com/r/warframe" target="_blank">
          <img class="img-fluid" src="../images/reddit.svg" alt="Reddit">
        </a>
        <a type="button" class="btn btn-circle" href="https://discord.com/invite/playwarframe" target="_blank">
          <img class="img-fluid" src="../images/discord.svg" alt="Discord">
        </a>
      </section>

      <section class="container text-center mt-4 mb-4">
        <div class="card m-auto w-25 border-0">
          <div class="row g-0 mt-3 mb-3">
            <div class="col-4">
              <img src="../images/age-ratting.webp" alt="Classificação 18 Anos">
            </div>
            <div class="col-8">
              <ul class="m-2">
                <li class="float-start">Violência</li>
                <li class="float-start">Interação de usuários</li>
                <li class="float-start">Compras on-line</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="text-center">
        <p>
          ©2022 Digital Extremes Ltd. Todos os direitos reservados. Todas as marcas registradas são propriedade de seus respectivos donos.
        </p>
        <p>
          Site Clone feito por Yuri Nogueira Moreira da Silva como projeto da disciplina de Desenvolvimento Web.
        </p>
      </section>

      <section class="text-center">
        <img src="../images/steam.webp" class="img-fluid m-1" alt="Steam">
        <img src="../images/epicgames.webp" class="img-fluid m-1" alt="Epic Games">
        <img src="../images/switch.webp" class="img-fluid m-1" alt="Nintendo Switch">
        <img src="../images/playstation.webp" class="img-fluid m-1" alt="Playstation">
        <img src="../images/xbox.webp" class="img-fluid m-1" alt="Xbox">
      </section>
    </div>
  </body>
</html>