<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Cabeçalho</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../images/logo-menu.webp"
               alt="Logo do Warframe"
               class="d-inline-block align-text-top">
        </a>
        <div class="justify-content-end" id="navbarSupportedContent">
          <ul class="nav">
            <li class="nav-item dropdown nav-item-lined">
              <a class="link-text nav-link dropdown-toggle active"
                 href="#"
                 id="gameDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Jogo
              </a>
              <ul class="dropdown-menu" aria-labelledby="gameDropdown">
                <li><a class="dropdown-item" href="#">Notícias Recentes</a></li>
                <li><a class="dropdown-item" href="#">Atualizações de Jogo</a></li>
                <li><a class="dropdown-item" href="#">Warframes</a></li>
                <li><a class="dropdown-item" href="#">Baixar o Jogo</a></li>
                <li><a class="dropdown-item" href="#">Aplicativo Móvel</a></li>
                <li><a class="dropdown-item" href="#">Suporte</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown nav-item-lined">
              <a class="link-text nav-link dropdown-toggle active"
                 href="#"
                 id="shopDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Loja
              </a>
              <ul class="dropdown-menu" aria-labelledby="shopDropdown">
                <li><a class="dropdown-item" href="#">Prime Access</a></li>
                <li><a class="dropdown-item" href="#">Prime Vault</a></li>
                <li><a class="dropdown-item" href="#">Pacotes de Suporte</a></li>
                <li><a class="dropdown-item" href="#">Platinas & Pacotes</a></li>
                <li><a class="dropdown-item" href="#">Pacote Iniciante</a></li>
                <li><a class="dropdown-item" href="#">
                  Produtos Oficiais
                  <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
                </a></li>
                <li><a class="dropdown-item" href="#">Resgatar Código</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown nav-item-lined">
              <a class="link-text nav-link dropdown-toggle active"
                 href="#"
                 id="communityDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Comunidade
              </a>
              <ul class="dropdown-menu" aria-labelledby="communityDropdown">
                <li><a class="dropdown-item" href="https://forums.warframe.com/" target="_blank">
                  Fóruns
                  <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
                </a></li>
                <li><a class="dropdown-item" href="#">Criadores de Conteúdo do Warframe</a></li>
                <li><a class="dropdown-item" href="#">Programa de Indicação</a></li>
                <li><a class="dropdown-item" href="#">Voluntários do Warframe</a></li>
                <li><a class="dropdown-item" href="https://discord.com/invite/playwarframe" target="_blank">
                  Servidor Oficial do Discord
                  <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
                </a></li>
                <li><a class="dropdown-item" href="https://www.twitch.tv/warframe" target="_blank">
                  Canal do Twitch
                  <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
                </a></li>
                <li><a class="dropdown-item" href="https://twitter.com/playwarframe" target="_blank">
                  Twitter
                  <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
                </a></li>
              </ul>
            </li>

            <li class="nav-item dropdown nav-item-lined">
              <a class="link-text nav-link dropdown-toggle active"
                 href="#"
                 id="guidesDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Guias
              </a>
              <ul class="dropdown-menu" aria-labelledby="guidesDropdown">
                <li><a class="dropdown-item" href="https://warframe.fandom.com/wiki/WARFRAME_Wiki/" target="_blank">
                  Página Wiki do Warframe
                  <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
                </a></li>
                <li><a class="dropdown-item" href="#">História & Facções</a></li>
                <li><a class="dropdown-item" href="#">Guia de Início Rápido</a></li>
                <li><a class="dropdown-item" href="#">Guia de Jornadas</a></li>
              </ul>
            </li>

            <li class="nav-item nav-item-lined">
              <a class="link-text nav-link" href="https://www.youtube.com/user/playwarframe" target="_blank">
                Vídeos
                <img class="video-icon" src="../images/launch-icon.svg" alt="Vídeos">
              </a>
            </li>

            <li class="nav-item">
              <button class="navbar-l-button">
                <img class="login-icon" src="../images/login-icon.svg" alt="Entrar">
                ENTRAR
              </button>
            </li>

            <li class="nav-item">
              <button class="navbar-pn-button">
                JOGUE GRATUITAMENTE AGORA MESMO
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>